* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.form-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 700px;
}

h2 {
  text-align: center;
  color: #3D2174;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: #9826be;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.error {
  color: red;
  font-size: 0.85em;
  margin-top: -15px;
  margin-bottom: 10px;
  display: block;
}

button[type="submit"] {
  background-color: #9826be;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

#passwordConfirm::placeholder {
  color: rgb(233, 127, 127);
}
